@font-face {
    font-family: 'Silver Falcon Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Silver Falcon Regular'), url('SilverFalcon-OVl38.woff') format('woff');
    }
h1 {
    font-family:'Silver Falcon Regular' ;
    font-weight: 600;
    color: rgb(33, 178, 178);
}